spring:
  application:
    name: gateway-server
  main:
    banner-mode: OFF
  config:
    import: "configserver:"
  cloud:
    config:
      discovery:
        enabled: true
        serviceId: config-server
      fail-fast: false
      retry:
        initial-interval: 1000
        max-interval: 10000
        multiplier: 1.2
        max-attempts: 30

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preferIpAddress: true
    instance-id: ${spring.application.name}:${random.value}
    leaseRenewalIntervalInSeconds: 10