server:
  port: 8080

spring:
  cloud:
    gateway:
      discovery.locator.enabled: true
      routes:
        - id: main_service_route
          uri: lb://main-service
          predicates:
            - Path=/**

management:
  endpoint:
    health:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,info


